/* Estilos para la página de detalle de curso */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilo para el nombre de la institución en la barra de navegación */
.navbar-brand {
    font-weight: 700;
    font-size: 1.7rem;
    background: linear-gradient(45deg, #0052D4, #4364f7, #65C7F7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.course-header {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.course-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 0.5rem;
    flex-shrink: 0;
}

/* --- Mejoras para Móviles --- */
@media (max-width: 767.98px) {
    .course-header {
        flex-direction: column; /* Apila la imagen y el texto */
        text-align: center;
        align-items: center; /* Centra los elementos horizontalmente en la vista de columna */
        gap: 1rem;
    }

    .course-header .display-4 {
        font-size: 2.2rem; /* Título más pequeño */
    }

    .course-image {
        width: 100%;
        height: auto;
        max-width: 250px; /* Limita el tamaño máximo de la imagen */
    }
}